.blog-detail #blog{
	padding-top: 80px;
	@include breakpoint(mobile-landscape){
		padding-top: 60px;
	}
	article{
		width: auto;
		max-width: 100%;
		.detail-title{
			min-height: 0;
		}
	}
	#categories, #archives{
		@include breakpoint(tablet){
			width: 33.333%;
			float: left;
			padding-left: 10px;
		}
		@include breakpoint(mobile-landscape){
			width: 100%;
			padding-left: 0px;
		}
	}
	#related-heading{
		margin-left: 10px;
		color: $orange;
		border-bottom: 1px solid $orange;
	}
	.related{
		position: relative;
		width: 46%;
		margin: 20px 2%;
		float: left;
		transition: all 300ms ease-in-out;
		@include breakpoint(mobile-landscape){
			width: 100%;
			margin: 20px 0;
		}
	}
}