$white: #fff;
$white-opaque: rgba(255,255,255,0.7);
$yellow: #ffcc33;
$orange: #e97e24;
$orange-opaque: rgba(233,126,36,0.8);
$bronze: #cc3333;
$brown: #7f2524;
$black: #333;
$grey: #ccc;
$dark-grey: #b0b0b0;
$shadow: #a3a3a3;