#contact{
	h2{
		color: $brown;
		font-family: 'agency', sans-serif;
		font-size: 2em;
		text-transform: uppercase;
	}
	.twelve{
		width: 90%;
		margin: 0 5%;
		@include breakpoint(mobile-landscape){
			width: 100%;
			margin: 0;
		}
	}
	form{
		input, textarea{
			box-shadow: none;
			border: none;
			border-radius: 0;
		}
		label{
			font-size: 1em;
			color: $black;
			font-weight: 600;
		}
		textarea{
			box-shadow: none;
			height: 240px;
			@include breakpoint(mobile-landscape){
				height: 100px;
			}
		}
		.error{
			color: $red;
			font-size: 0.8em;
			font-style: italic;
			margin: 0;
		}
		#submit{
			background: $orange;
			text-align: center;
			color: $white;
			line-height: 1.5em;
			padding: 5px;
			width: 100%;
			text-transform: uppercase;
			-webkit-appearance: none;
			transition: all 300ms ease-in-out;
			&:hover, &:focus, &:active{
				cursor: pointer;
				background: $black;
		    	color: $orange;
		    }
		}
	}
	#map-wrapper{
		width: 100%;
		height: 300px;
		position: relative;
		overflow: hidden;
		margin-top: 20px;
	}
	#map-canvas{
		width: 110%;
		height: 110%;
		position: absolute;
		top: -5%;
		left: -5%;
	}
	#location{
		h4{
			font-size: 1.2em;
			color: $brown;
			font-weight: 900;
			text-align: right;
			@include breakpoint(mobile-landscape){
				font-size: 0.8em;
			}
		}
		p{
			text-align: right;
			a{
				color: $black;
			}
			&:first-of-type{
				margin: 0;
			}
		}
	}
}