header{
	width: 100%;
	height: 100px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	#background{
		background: $orange;
		width: 120%;
		height: 120px;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		transform: rotate(-1.5deg) translate(-30px, -60px);
		@include breakpoint(max-width, 740px){
			z-index: 1;
		}
	}
	#logo{
		width: 200px;
		float: left;
		margin: 12px 0 0 30px;
		.icon-treehouse{
			font-size: 3.2em;
			width: 28px;
			float: left;
			&:hover, &:focus, &:active{
    			color: $white;
    		}
		}
		h1{
			width: auto;
			float: left;
			font-size: 1em;
			font-family: 'agency', sans-serif;
			color: $white;
			font-weight: 300;
			text-transform: uppercase;
			margin-top: 34px;
		}
	}
	nav{
		width: 500px;
		float: right;
		margin: 10px 40px 0 0;
		transition: height 300ms ease-in-out;
		@include breakpoint(max-width, 740px){
			background: $white;
			background: $white-opaque;
			width: 100%;
			margin: -12px 0 0 0;
			height: 0;
			overflow: hidden;
		}
		ul{
			text-align: center;
			@include breakpoint(max-width, 740px){
				margin: 15px 0 0 0;
			}
			li{
				display: inline-block;
				padding-left: 40px;
				font-size: 1em;
				a{
					font-family: 'agency', sans-serif;
					&:hover, &:focus, &:active{
				    	color: $brown;
				    }
				}
				@include breakpoint(max-width, 740px){
					width: 100%;
					height: 40px;
					display: block;
					padding: 0;
					a{
						color: $orange;
						font-size: 1em;
						display: block;
						width: 40%;
						margin: 0 30%;
						float: left;
						height: 40px;
						text-align: center;
						padding-top: 12px;
						&:hover, &:focus, &:active{
					    	background: $orange;
					    	background: $orange-opaque;
					    	color: $white;
					    }
					}
				}
			}
		}
	}
	nav.open{
		height: 260px;
	}
	#mobile-open, #mobile-close{
		display: none;
		float: right;
		margin: 12px 20px;
		position: relative;
		z-index: 2;
		@include breakpoint(max-width, 740px){
			display: block;
		}
	}
	#mobile-open{
		@include breakpoint(max-width, 740px){
			display: block;
		}
	}
}