#home{
	text-align: center;
	#big-vid{
		width: auto;
		height: auto;
		min-width: 100%;
		min-height: 100%;
		position: fixed; 
		top: 0;
		left: 0;
		z-index: -100;
		background: url(../img/treehouse.png);
		background-repeat: no-repeat;
		background-position: top center;
		background-size: cover;
		@include breakpoint(mobile-landscape){
			display: none;
		}
	}
	#vid-img{
		display: none;
		@include breakpoint(mobile-landscape){
			display: block;
			width: 100%;
			height: 400px;
			background-repeat: no-repeat !important;
			background-position: top center !important;
			background-size: cover !important;
		}
	}
	#intro{
		width: 300px;
		position: relative;
		top: 150px;
		left: 50%;
		margin-left: -150px;
		@include breakpoint(mobile-landscape){
			position: absolute;
			top: 100px;
		}
		.icon-treehouse{
			color: $white;
			font-size: 10em;
			width: 100%;
			text-align: center;
			margin-bottom: 20px;
			text-shadow: 0 0 10px $shadow;
			@include breakpoint(mobile-landscape){
				display: none;
			}
		}
		h2{
			color: $white;
			font-size: 30px;
			font-family: 'agency', sans-serif;
			text-transform: uppercase;
			margin-top: 20px;
			font-weight: 300;
			text-shadow: 0 0 10px $shadow;
			@include breakpoint(mobile-landscape){
				display: none;
			}
		}
		#boxes{
			width: 100%;
			margin-top: 20px;
			.icon-block1, .icon-block2, .icon-block3{
				font-size: 2em;
				margin: 0 10px;
				text-align: center;
				text-shadow: 0 0 10px $shadow;
			}
			.text-box{
				background: none;
				padding: 10px 20px;
				color: $white;
				margin: 20px auto 0;
				display: table;
				position: absolute;
				top: 270px;
				left: 0;
				transition: all 300ms ease-in-out;
				@include breakpoint(mobile-landscape){
					top: 70px;
					width: 300px;
					height: 120px;
				}
				p{
					color: transparent;
					display: table-cell;
					margin-bottom: 0;
					vertical-align: middle;
					transition: all 300ms ease-in-out;
					@include breakpoint(mobile-landscape){
						padding-bottom: 20px;
					}
				}
			}
			.text-box.on{
				background: $orange;
				background: $orange-opaque;
				p{
					color: $white;
				}
			}
		}
	}
	.scroller{
		width: 100%;
		height: 20px;
		position: absolute;
		bottom: 50px;
		@include breakpoint(mobile-landscape){
			position: relative;
			z-index: 1;
		}
		a{
			display: block;
			font-size: 1.6em;
			width: 40px;
			text-align: center;
			position: absolute;
			left: 50%;
			margin: -4px 0 0 -20px;
			z-index: 999;
		}
	}
}
	