#home{
	background-repeat: no-repeat !important;
	background-position: top center !important;
	background-size: cover !important;
	width: 100%;
	position: relative;
	padding-top: 0px;
	height: 100%;
	overflow: hidden;
	margin: 0px 0 60px;
	@include breakpoint(mobile-landscape){
		margin: 0px 0 20px;
	}
	#video{
		padding: 0px;
		overflow: hidden;
		background: none repeat scroll 0% 0% #000;
	}
}
#video-placeholder{
	display: none;
	background-repeat: none !important;
	background-size: cover !important;
	background-position: top center !important;
	width: 100%;
	height: 480px;
	@include breakpoint(mobile-landscape){
		display: block;
	}
}
#video-holder{
	top: 0px;
	overflow: hidden;
	z-index: 1;
	@include breakpoint(mobile-landscape){
		display: none;
	}
}
#intro{
	width: 300px;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -150px;
	text-align: center;
	@include breakpoint(mobile-landscape){
		position: absolute;
		top: 100px;
	}
	.icon-treehouse{
		color: $white;
		font-size: 10em;
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
		text-shadow: 0 0 10px $shadow;
		@include breakpoint(mobile-landscape){
			display: none;
		}
	}
	h2{
		color: $white;
		font-size: 30px;
		font-family: 'agency', sans-serif;
		text-transform: uppercase;
		margin-top: 20px;
		font-weight: 300;
		text-shadow: 0 0 10px $shadow;
		@include breakpoint(mobile-landscape){
			display: none;
		}
	}
	#boxes{
		width: 100%;
		margin-top: 20px;
		.icon-block1, .icon-block2, .icon-block3{
			font-size: 2em;
			margin: 0 10px;
			text-align: center;
			text-shadow: 0 0 10px $shadow;
		}
		.text-box{
			background: none;
			padding: 10px 20px;
			color: $white;
			margin: 20px auto 0;
			display: table;
			position: absolute;
			top: 270px;
			left: 0;
			transition: all 300ms ease-in-out;
			@include breakpoint(tablet){
				height: 120px;
			}
			@include breakpoint(mobile-landscape){
				top: 70px;
				width: 300px;
			}
			p{
				color: transparent;
				display: table-cell;
				margin-bottom: 0;
				vertical-align: middle;
				transition: all 300ms ease-in-out;
				@include breakpoint(mobile-landscape){
					padding-bottom: 20px;
				}
			}
		}
		.text-box.on{
			background: $orange;
			background: $orange-opaque;
			p{
				color: $white;
			}
		}
	}
}
