#modal-bg{
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: $white-opaque;
	z-index: 400;
}
#video-modal{
	display: none;
	width: 90%;
	min-width: 0;
	max-width: 90% !important;
	margin: 63px auto 0;
	position: fixed;
	top: 80px;
	left: 5%;
	z-index: 497;
	padding: 10px 10px 20px;
	transition: all 300ms ease-in-out;
	@include breakpoint(mobile-landscape){
		position: absolute;
		width: 94%;
		max-width: 94% !important;
		margin: 63px auto 0;
		left: 3%;
	}
	#background{
		width: 100%;
		height: 100%;
		background: $black;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 498;
	}
	.icon-close{
		display: block;
		width: 17px;
		height: 17px;
		padding: 3px;
		background: $orange;
		font-size: 0.6em;
		font-weight: 900;
		color: $white;
		position: absolute;
		top: 10px;
		right: 15px;
		z-index: 500;
		&:hover, &:focus, &:active{
			padding: 2px;
			font-size: 0.7em;
	    }
	}
	#project-intro{
		width: 30%;
		float: left;
		margin-top: 10px;
		background-image: url('../img/work_bg.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top center;
		padding: 20px 20px 40px;
		position: relative;
		z-index: 499;
		transition: all 300ms ease-in-out;
		@include breakpoint(desktop){
			width: 40%;
		}
		@include breakpoint(tablet){
			width: 100%;
			padding-bottom: 0;
		}
		h2{
			font-family: 'agency', sans-serif;
			font-weight: bold;
			font-size: 2em;
			color: $brown;
			text-transform: uppercase;
			margin: 0;
			transition: all 300ms ease-in-out;
			@include breakpoint(tablet){
				width: auto;
				float: left;
				padding-right: 10px;
			}
		}
		p{
			font-size: 0.8em;
		}
	}
	#project-video-wrap{
		width: 70%;
		float: right;
		padding-left: 20px;
		position: relative;
		z-index: 499;
		transition: all 300ms ease-in-out;
		@include breakpoint(desktop){
			width: 60%;
		}
		@include breakpoint(tablet){
			width: 100%;
			padding-left: 0;
		}
		h2{
			font-family: 'agency', sans-serif;
			font-weight: bold;
			font-size: 2em;
			width: 80%;
			color: $white;
			text-transform: uppercase;
			margin: 0;
			transition: all 300ms ease-in-out;
			@include breakpoint(tablet){
				margin: 10px 0;
			}
		}
		.project-video{
			width: 100%;
			@include breakpoint(tablet){
				margin: 10px 0;
			}
			iframe{
				width: 100%;
			}
		}
	}
}

#entertainment-modal{
	display: none;
	width: 90%;
	min-width: 0;
	max-width: 90% !important;
	margin: 63px auto 0;
	position: fixed;
	top: 100px;
	left: 5%;
	z-index: 497;
	padding: 20px;
	transition: all 300ms ease-in-out;
	@include breakpoint(tablet){
		position: absolute;
	}
	@include breakpoint(mobile-landscape){
		width: 94%;
		max-width: 94% !important;
		margin: 63px auto 0;
		top: 80px;
		left: 3%;
	}
	.background{
		width: 100%;
		height: 100%;
		background: $black;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 498;
	}
	.icon-close{
		display: block;
		width: 17px;
		height: 17px;
		padding: 3px;
		background: $orange;
		font-size: 0.6em;
		font-weight: 900;
		color: $white;
		position: absolute;
		top: 10px;
		right: 15px;
		z-index: 500;
		&:hover, &:focus, &:active{
			padding: 2px;
			font-size: 0.7em;
	    }
	}
	.synopsis{
		width: 45%;
		float: left;
		margin-right: 5%;
		position: relative;
		z-index: 999;
		@include breakpoint(tablet){
			width: 95%;
			margin: 0 2.5%;
		}
		h4{
			background: $orange;
			width: 90%;
			font-family: 'ubuntu', sans-serif;
			color: $white;
			font-size: 1.2em;
			padding: 5px 10px;
			float: left;
		}
		.arrow-right {
			width: 0; 
			height: 0;
			float: left; 
			border-top: 30px solid transparent;
			border-bottom: 0px solid transparent;
			border-left: 15px solid $orange;
			margin-top: 15px;
		}
		p{
			font-family: 'ubuntu', sans-serif;
			color: $white;
			padding: 0 10px;
			width: 100%;
			float: left;
			@include breakpoint(tablet){
				padding: 0;			
			}
		}
		h5{
			font-family: 'ubuntu', sans-serif;
			color: $orange;
			font-size: 1.2em;
			padding: 5px 10px;
			width: 100px;
			float: left;
			margin-top: 0;
			height: 80px;
			@include breakpoint(tablet){
				padding: 0;			
			}
		}
		ul{
			li{
				font-family: 'ubuntu', sans-serif;
				color: $white;
				font-size: 1em;
				padding: 5px 10px;
			}
		}
	}
	.video-wrap{
		width: 45%;
		float: left;
		margin-right: 5%;
		position: relative;
		z-index: 999;
		@include breakpoint(tablet){
			width: 95%;
			margin: 0 2.5%;
		}
		.video{
			width: 100%;
			margin: 20px 0;
			iframe{
				width: 100%;
			}
		}
		.video-details{
			text-align: right;
			.seasons{
				display: inline-block;
				color: $white;
				text-align: right;
				padding: 0 5px;
				border-right: 1px solid $orange;
			}
			.episodes{
				display: inline-block;
				color: $white;
				text-align: right;
			}
		}
		.social{
			width: auto;
			float: right;
			margin: 0;
			a{
				color: $orange;
				font-size: 1.5em;
				margin-left: 10px;
				&:hover, &:focus, &:active{
			    	color: $brown;
			    }
			}
		}
	}
}