#modal-bg{
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 121px;
	left: 0;
	background: $white-opaque;
	z-index: 400;
}
#video-modal{
	display: none;
	width: 90%;
	max-width: 90% !important;
	margin: 63px 5% 0;
	position: fixed;
	top: 80px;
	padding: 10px 10px 20px;
	transition: all 300ms ease-in-out;
	@include breakpoint(mobile-landscape){
		position: absolute;
	}
	#background{
		width: 100%;
		height: 100%;
		background: $black;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 498;
	}
	.icon-close{
		display: block;
		width: 17px;
		height: 17px;
		padding: 3px;
		background: $orange;
		font-size: 0.6em;
		font-weight: 900;
		color: $white;
		position: absolute;
		top: 10px;
		right: 15px;
		z-index: 500;
		&:hover, &:focus, &:active{
			padding: 2px;
			font-size: 0.7em;
	    }
	}
	#project-intro{
		width: 30%;
		float: left;
		margin-top: 10px;
		background-image: url('../img/work_bg.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top center;
		padding: 20px 20px 40px;
		position: relative;
		z-index: 499;
		transition: all 300ms ease-in-out;
		@include breakpoint(desktop){
			width: 40%;
		}
		@include breakpoint(tablet){
			width: 100%;
			padding-bottom: 0;
		}
		h2{
			font-family: 'agency', sans-serif;
			font-weight: bold;
			font-size: 2em;
			color: $brown;
			text-transform: uppercase;
			margin: 0;
			transition: all 300ms ease-in-out;
			@include breakpoint(tablet){
				width: auto;
				float: left;
				padding-right: 10px;
			}
		}
		p{
			font-size: 0.8em;
		}
	}
	#project-video-wrap{
		width: 70%;
		float: right;
		padding-left: 20px;
		position: relative;
		z-index: 499;
		transition: all 300ms ease-in-out;
		@include breakpoint(desktop){
			width: 60%;
		}
		@include breakpoint(tablet){
			width: 100%;
			padding-left: 0;
		}
		h2{
			font-family: 'agency', sans-serif;
			font-weight: bold;
			font-size: 2em;
			width: 80%;
			color: $white;
			text-transform: uppercase;
			margin: 0;
			transition: all 300ms ease-in-out;
			@include breakpoint(tablet){
				margin: 10px 0;
			}
		}
		.project-video{
			width: 100%;
			@include breakpoint(tablet){
				margin: 10px 0;
			}
			iframe{
				width: 100%;
			}
		}
	}
}