#projects{
	height: auto;
	overflow: hidden;
	padding-top: 80px;
	h2{
		color: $brown;
		font-family: 'agency', sans-serif;
		font-size: 2em;
		text-transform: uppercase;
		width: 130px;
		float: left;
		margin: 10px 0 0 10px;
		position: relative;
		z-index: 500;
		@include breakpoint(max-width, 630px){
			width: 100%;
		}
	}
	#filters{
		margin: 20px 0 0;
		float: left;
		@include breakpoint(tablet){
			margin-top: 16px;
		}
		@include breakpoint(max-width, 630px){
			width: 100%;
			margin: 0px 0px 0px 10px;
		}
		@include breakpoint(max-width, 496px){
			margin: 20px 0;
			overflow: hidden;
		}
		li{
			display: inline;
			margin-right: 20px;
			@include breakpoint(max-width, 496px){
				display: inline-block;
				width: 50%;
				float: left;
				margin: 0;
				position: relative;
				z-index: 1;
				&:first-child{
					width: 100%;
				} 
			}
			a{
				font-family: 'ubuntu', sans-serif;
				color: $red;
				font-size: 0.8em;
				font-weight: bold;
				margin: 0;
				line-height: 2.6em;
				position: relative;
				z-index: 500;
				@include breakpoint(max-width, 496px){
					background: $orange;
					color: $white;
					display: block;
					width: 100%;
					height: 100%;
					border: 1px solid $white;
					text-align: center;
					&:hover, &:focus, &:active{
				    	background: $orange-opaque;
				    }
				}
			}
			a.selected{
				color: $brown;
			}
		}
	}
	#gallery{
		width: 100%;
		max-width: 1200px;
		overflow: hidden;
		transition: all 300ms ease-in-out;
		text-align: center;
		margin: 0;
		.project{
			display: inline-block;
			width: 30%;
			height: 157px;
			background: $black;
			margin: 10px 1.5%;
			position: relative;
			overflow: hidden;
			background-repeat: none !important;
			background-size: cover !important;
			background-position: top center !important;
			@include breakpoint(max-width, 496px){
				margin: 10px 1%;
				width: 48%;
			}
			@include breakpoint(mobile){
				margin: 10px 0;
				width: 100%;
				height: 130px;
			}
			&:hover, &:focus, &:active{
				.overbox{
					bottom: 0;
				}
			}
			.overbox{
				width: 100%;
				height: 80px;
				background: $orange;
				background: $orange-opaque;
				position: absolute;
				left: 0;
				bottom: -80px;
				z-index: 2;
				padding: 10px;
				transition: all 300ms ease-in-out;
				p{
					margin: 0;
					font-size: 0.8em;
					height: 20px;
					text-align: left;
				}
				.title{
					color: $black;
				}
				.client{
					color: $white;
				}
				.category{
					color: $red;
				}
			}
		}
	}
}