.social{
	width: 284px;
	float: right;
	margin: 56px 15px 0 0;
	@include breakpoint(mobile-landscape){
		width: 100%;
		margin: -156px 0 0 0;
	}
	ul{
		text-align: center;
		li{
			display: inline-block;
			font-size: 1.6em;
			margin-right: 5px;
			a{
				color: $grey;
				position: relative;
				&:hover, &:focus, &:active{
			    	color: $orange;
			    }
			}
			.icon-facebook{
				font-size: 24px;
			}
			.icon-twitter{
				font-size: 30px;
			}
			.icon-youtube{
				font-size: 30px;
			}
			.icon-linkedin{
				font-size: 24px;
			}
			.icon-instagram{
				font-size: 30px;
			}
			.icon-googleplus{
				font-size: 30px;
			}
			.icon-tumblr{
				font-size: 24px;
			}
			.icon-pinterest{
				font-size: 24px;
			}
		}
	}
}