#team{
	position: relative;
	padding: 0 10px;
	margin-bottom: 60px;
	@include breakpoint(mobile-landscape){
		margin-bottom: 20px;
	}
	h2{
		color: $brown;
		font-family: 'agency', sans-serif;
		font-size: 2em;
		margin-left: 5%;
		text-transform: uppercase;
		@include breakpoint(mobile-landscape){
			padding-top: 80px;
		}
	}
	.carousel{
		margin: auto;
		padding: 0 20px;
		.slick-slide{
			width: 200px;
			margin: 0 20px;
			max-width: 200px;
		}
		img{
			width: 100%;
			float: left;
		}
		.details{
			background: url('../img/profile_bg.png');
			background-repeat: none;
			background-size: cover;
			background-position: top center;
			width: 100%;
			float: left;
			padding: 10px;
			.name, .title, .quote, .email{
				color: $black;
				font-family: 'ubuntu', sans-serif;
				font-weight: 900;
				font-size: 0.8em;
				text-align: left;
				margin: 0;
				line-height: 1.1em;
			}
			.desc{
				color: $white;
				font-family: 'ubuntu', sans-serif;
				font-size: 0.7em;
				text-align: left;
				margin: 10px 0;
				@include breakpoint(mobile-landscape){
					display: none;
				}
			}
			.quote{
				line-height: 1em;
				font-size: 0.7em;
				font-weight: 600;
				margin: 0;
				@include breakpoint(mobile-landscape){
					margin-top: 8px;
				}
			}
			.email{
				font-size: 0.6em;
				font-weight: 300;
				display: block;
				width: 100%;
				margin: 8px 0 0 0;
			}
		}
		.contact{
			width: 93px;
			float: right;
			margin-top: 12px;
			@include breakpoint(mobile){
				width: 100px;
			}
			.iconblock, .icon-twitter, .icon-linkedin{
				color: $black;
				position: relative;
				font-size: 1.6em;
				float: left;
				margin-left: 5px;
				span{
					color: $white;
					font-size: 1em;
					position: absolute;
					top: 3px;
					left: 3px;
				}
				.icon-mail{
					color: $orange;
					font-size: 0.3em;
					top: 8px;
					left: 4px;
				}
			}
		}
	}
}