#work{
	overflow: hidden;
	transition: all 300ms ease-in-out;
	width: 80%;
	margin: 0 10% 60px;
	@include breakpoint(mobile-landscape){
		width: 100%;
		margin: 0 0 20px;
		padding-top: 80px;
	}
	#work-intro{
		width: 30%;
		float: left;
		background-image: url('../img/work_bg.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top center;
		padding: 20px 20px 40px;
		transition: all 300ms ease-in-out;
		@include breakpoint(desktop){
			width: 40%;
		}
		@include breakpoint(tablet){
			width: 100%;
			padding-bottom: 0;
		}
		h2{
			font-family: 'agency', sans-serif;
			font-weight: bold;
			font-size: 2em;
			color: $brown;
			text-transform: uppercase;
			margin: 0;
			transition: all 300ms ease-in-out;
			@include breakpoint(tablet){
				width: auto;
				float: left;
				padding-right: 10px;
			}
		}
		p{
			font-size: 0.8em;
		}
	}
	#work-gallery{
		width: 70%;
		float: left;
		padding-left: 20px;
		transition: all 300ms ease-in-out;
		@include breakpoint(desktop){
			width: 60%;
		}
		@include breakpoint(tablet){
			width: 100%;
			padding-left: 0;
		}
		#gallery-categories{
			background: $black;
			width: 100%;
			transition: all 300ms ease-in-out;
			ul{
				margin: 0 0 20px 10px;
				@include breakpoint(mobile-landscape){
					overflow: hidden;
					padding: 10px 0;
				}
				li{
					display: inline;
					margin-right: 20px;
					@include breakpoint(mobile-landscape){
						display: inline-block;
						width: 50%;
						float: left;
						margin: 0;
						position: relative;
						z-index: 1;
					}
					a{
						font-family: 'ubuntu', sans-serif;
						color: $white;
						font-size: 0.8em;
						font-weight: bold;
						margin: 0;
						line-height: 2.6em;
						@include breakpoint(mobile-landscape){
							display: block;
							text-align: center; 
						}
					}
				}
			}
		}
		.projects-link{
			width: 100%;
			height: 36px;
			background: $red;
			margin-top: 20px;
			transition: all 300ms ease-in-out;
			a{
				float: right;
				font-family: 'ubuntu', sans-serif;
				color: $white;
				font-size: 0.8em;
				font-weight: bold;
				margin: 0 10px 0 0;
				line-height: 2.6em;
				&:after{
					font-family: "treehouse";
					content: "\e618";
					color: $white;
					padding-top: 5px;
				}
			}
		}
	}
}